apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: argo
type: Opaque
stringData:
  DB_HOST: host.docker.internal
  DB_PORT: "5432"
  DB_NAME: <POSTGRES_DB>
  DB_USER: <POSTGRES_USER>
  DB_PASSWORD: <POSTGRES_PASSWORD>
